---
import Layout from "../layouts/Layout.astro";
import Itemsbox from "../components/Itemsbox.astro";
---

<Layout title="H2O2'Shop">
  <main>

<Itemsbox listid={[1044,1055,1066]}/>
  </main>
</Layout>

<style>

  .astro-a {
    position: absolute;
    top: -32px;
    left: 50%;
    transform: translatex(-50%);
    width: 220px;
    height: auto;
    z-index: -1;
  }
</style>
