---
interface Props {
	id: number;
}

const { id } = Astro.props;
---

<div>
<a href=`./astroec/view/item_${id}`>
<img src=`./astroec/core_sys/item/${id}.png`>
</a>
</div>
<style>
    div{width: calc(25% - 8px);
    margin: 0 auto;
    text-align: center;}
</style>
