<main>
<fotter class="lg:flex p-5 gap-5">
  &copy; 2024 H2O2 All rights reserved,framework by <a href="https://astro.build/" target="_blank">Astro.js</a>,img by <a href="https://www.irasutoya.com/" target="_blank">いらすとや</a>
</fotter>
</main>
<style>
    fotter{
        position: fixed;
        bottom: 0;
        left: 0;
        color:white;

        width: 100%;
    }