---
import Card from './Card.astro';

interface Props {
  listid: number[];
}

const { listid } = Astro.props;
---

<div class="box">
    {listid.map((card) => (
        <Card id={card} />
      ))}
</div>
<style>
  div.box {
    width: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    margin: 0 auto;
    padding-top: 30px;
  }
</style>
